@using Com.QueoFlow.Peanuts.Net.Core.Domain.Accounting
@using Com.QueoFlow.Peanuts.Net.Core.Resources
@using Com.QueoFlow.Peanuts.Net.Web.Helper
@model Com.QueoFlow.Peanuts.Net.Web.Models.UserGroup.UserGroupMemberShipAccountViewModel

@{
    ViewBag.Title = "Kontoübersicht";
    ViewBag.Subtitle = Model.UserGroupMembership.UserGroup.DisplayName;
}

<div class="form form-horizontal">
    <div class="form__row">
        <div class="form__col">
            <div class="form-group">
                <label class="control-label">@Resources_Domain.label_Com_QueoFlow_Peanuts_Net_Core_Domain_Accounting_Account_Balance</label>
                <div class="control-value">
                    <div class="form-control form-control--static">
                        <span class="@(Model.UserGroupMembership.Account.Balance < 0 ? "text-danger" : "")">
                            @(string.Format("{0:C}", Model.UserGroupMembership.Account.Balance))
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <fieldset>
        <legend class="form__legend">
            <span>
                @Resources_Domain.label_Com_QueoFlow_Peanuts_Net_Core_Domain_Accounting_BookingEntries
            </span>
        </legend>

        <div class="container-content--full">
            @(Html.DisplayFor().GridFor(m => m.Bookings, false).Id(Html.GenerateId<BookingEntry>(IdForElement.Table, IdForAction.Index))
                      .ColumnFor(entry => entry.OpponentAccount.Membership.User.DisplayName, "Absender/Empfänger")
                      .ColumnFor(entry => entry.EntryDate, Resources_Domain.label_Com_QueoFlow_Peanuts_Net_Core_Domain_Accounting_BookingEntry_EntryDate).DisplayFormat("{0:d}")
                      .ColumnFor(entry => entry.EntryText, Resources_Domain.label_Com_QueoFlow_Peanuts_Net_Core_Domain_Accounting_BookingEntry_EntryText)
                      .ColumnFor(entry => entry.Amount, Resources_Domain.label_Com_QueoFlow_Peanuts_Net_Core_Domain_Accounting_BookingEntry_Amount).AttributeHead("class", "text-right").AttributeBody("class", entry => entry.Amount < 0 ? "text-danger text-right" : "text-right").DisplayFormat("{0:C}")
                      )
        </div>
    </fieldset>

    @Html.DisplayFor().Pagination(m => m.Bookings)
</div>