@using Com.QueoFlow.Peanuts.Net.Core.Resources
@using Com.QueoFlow.Peanuts.Net.Web.Helper
@using Com.QueoFlow.Peanuts.Net.Web.Resources
@using reCaptcha
@model Com.QueoFlow.Peanuts.Net.Web.Models.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Kennwort vergessen?";
    Layout = "~/Views/Shared/_LayoutFullscreen.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form form-horizontal form-login", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>Zum Zurücksetzen des Kennworts, bitte die <br/>E-Mail des Nutzers eingeben!</p>
    
    @Html.ValidationSummary(false, "Bitte überprüfen Sie folgende Eingaben:", new { @class = "form-validation-summary" }, "p")

    @Html.Form().Email(m => m.Email, placeholder: Resources_Domain.label_Com_QueoFlow_Peanuts_Net_Core_Domain_Users_User_Email)

    @ReCaptcha.GetHtml(ViewBag.publicKey)


    <div class="form-group btn-group">
        <div class="control-value">
            <button type="submit" class="btn btn-primary">
                Link per E-Mail senden
            </button>
            @Html.ActionLink(Resources_Web.btn_Cancel, "Login", "Account", null, new { @class = "link" })
        </div>
    </div>
}