@using Com.QueoFlow.Peanuts.Net.Core.Resources
@using Com.QueoFlow.Peanuts.Net.Web.Helper
@using Com.QueoFlow.Peanuts.Net.Web.Resources
@using reCaptcha
@model Com.QueoFlow.Peanuts.Net.Web.Models.Account.RegisterViewModel
@{
    ViewBag.Title = Resources_Web.common_label_Register;
    Layout = "~/Views/Shared/_LayoutFullscreen.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form form-horizontal form-login", role = "form" })) {
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false, "Bitte überprüfen Sie folgende Eingaben:", new { @class = "form-validation-summary" }, "p")
    
    @Html.Form().TextBox(m => m.FirstName, Resources_Domain.label_Com_QueoFlow_Peanuts_Net_Core_Domain_Users_User_FirstName)
    @Html.Form().TextBox(m => m.LastName, Resources_Domain.label_Com_QueoFlow_Peanuts_Net_Core_Domain_Users_User_LastName)
    @Html.Form().Email(m => m.Email, Resources_Domain.label_Com_QueoFlow_Peanuts_Net_Core_Domain_Users_User_Email)
    @Html.Form().Password(m => m.Password, Resources_Domain.label_Com_QueoFlow_Peanuts_Net_Core_Domain_Users_User_Password)
    @Html.Form().PasswordStrength(m => m.Password)
    @Html.Form().Password(m => m.ConfirmPassword, Resources_Web.common_label_NewPasswordConfirmation)


    @ReCaptcha.GetHtml(ViewBag.publicKey)

    <div class="form-group btn-group">
        <div class="control-value">
            <button type="submit" class="btn btn-primary">Registrieren</button>
            @Html.ActionLink("Abbrechen", "Login", null, new { @class = "link" })
        </div>
    </div>
}