@using Com.QueoFlow.Peanuts.Net.Core.Resources
@using Com.QueoFlow.Peanuts.Net.Web.Helper
@using Com.QueoFlow.Peanuts.Net.Web.Resources
@model Com.QueoFlow.Peanuts.Net.Web.Models.Account.ResetPasswordViewModel

@{
    ViewBag.Title = "Kennwort zurücksetzen";
    Layout = "~/Views/Shared/_LayoutFullscreen.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form form-horizontal form-login", role = "form" })) {
    @Html.AntiForgeryToken()
    <p>Gib das neue Kennwort ein!</p>

    @Html.ValidationSummary(false, Resources_Web.hint_ValidateYourInput, new { @class = "form-validation-summary" }, "p")

    @Html.HiddenFor(model => model.Code)
    @Html.Form().Password(m => m.Password, Resources_Web.common_label_NewPassword)
    @Html.Form().PasswordStrength(m => m.Password)
    @Html.Form().Password(m => m.ConfirmPassword, Resources_Web.common_label_NewPasswordConfirmation)
    
    <div class="form-group btn-group">
        <div class="control-value">
            <button type="submit" class="btn btn-primary">
                Kennwort festlegen
            </button>
            @Html.ActionLink(Resources_Web.btn_Cancel, "Login", "Account", null, new { @class = "link" })
        </div>
    </div>
}