@model Com.QueoFlow.Peanuts.Net.Web.Models.Shared.Forms.InputModel

<div class="form-group entity-property" data-required-field="@(Model.IsRequired)" data-valmsg-for="@Model.Name"  data-valmsg-replace="false">
    <label for="@Model.Id" class="control-label">@Model.Label</label>
    <div class="control-value">
        <input type="@Model.InputType" id="@Model.Id" name="@Model.Name" placeholder="@Model.Placeholder" value="@Model.Value" class="form-control" @Model.GetValidationAttributes()/>
    </div>
</div>