@model Com.QueoFlow.Peanuts.Net.Web.Models.Shared.Forms.DropDownModel


@{
    string select2ClassName = "js-select-single";
    if (Model.IsMultiSelect) {
        select2ClassName = "js-select-multiple";
    }
}

<div class="form-group entity-property" data-required-field="@(Model.IsRequired)" data-valmsg-for="@Model.Name"  data-valmsg-replace="false">
    <label for="@Model.Id" class="control-label">@Model.Label</label>
    <div class="control-value">
        <select id="@Model.Id" name="@Model.Name" placeholder="@Model.Placeholder" data-placeholder="@Model.Placeholder"  class="form-control @select2ClassName" @Model.GetValidationAttributes() @Model.GetMultipleDropDown() @Model.GetDependsOnAttribute(ViewData)>
            @if (Model.IsNullable) {
                <option value="">@Model.Placeholder</option>
                foreach (var dependingPlaceholder in Model.GetDependingPlaceholders()) {
                    <option value="" @Model.GetDependingAttributeMarkup(new object[] { dependingPlaceholder.Key})>@dependingPlaceholder.Value</option>
                }
            }
            
            @foreach (var selectableItem in Model.SelectableItems) {
                string selectableItemSelected = Model.GetSelectableItemSelected(selectableItem);
                string dependingAttribute = Model.GetDependingAttribute(selectableItem);
                string selectableItemValue = Model.GetSelectableItemValue(selectableItem);
                string selectableItemText = Model.GetSelectableItemText(selectableItem);
                <option @Html.Raw(selectableItemSelected) @Html.Raw(dependingAttribute) value="@selectableItemValue">@selectableItemText</option>
            }
        </select>
    </div>
</div>