@using Com.QueoFlow.Peanuts.Net.Core.Resources
@using Com.QueoFlow.Peanuts.Net.Web.Helper
@using Com.QueoFlow.Peanuts.Net.Web.Resources
@model Com.QueoFlow.Peanuts.Net.Web.Areas.Admin.Models.UserGroup.UserGroupShowViewModel

@{
    ViewBag.Title = Model.UserGroup.Name;
}

@section toolbar {
    <a href="@Url.Action("UpdateForm", "UserGroupAdministration", new { area = "Admin", financialBrokerPool = Model.UserGroup.BusinessId })" class="btn btn-primary">
        @Resources_Web.common_btn_Edit
    </a>

    <a href="@Url.Action("Index")" class="btn btn-default">
        <span>@Resources_Web.btn_Cancel</span>
    </a>

    <a href="@Url.Action("DeleteForm", "UserGroupAdministration", new { area = "Admin", financialBrokerPool = Model.UserGroup.BusinessId })" class="btn btn-danger">
        @Resources_Web.common_btn_Delete
    </a>
}

<div class="form form-horizontal">
    <div class="form__row">
        <div class="form__col">
            @Html.Form().Static(m => m.UserGroup.CreatedBy.DisplayName, Resources_Domain.label_Com_QueoFlow_Peanuts_Net_Core_Domain_Users_UserGroup_CreatedBy)
            @Html.Form().Static(m => m.UserGroup.CreatedAt)
        </div>
        <div class="form__col">
            @Html.Form().Static(m => m.UserGroup.ChangedBy.DisplayName, Resources_Domain.label_Com_QueoFlow_Peanuts_Net_Core_Domain_Users_UserGroup_ChangedBy)
            @Html.Form().Static(m => m.UserGroup.ChangedAt)
        </div>
    </div>
    <div class="form__row">
        <div class="form__col">
            @Html.Form().Static(m => m.UserGroup.Name)
        </div>
    </div>
    <div class="form__row">
        <div class="form__col">
            @Html.Form().Static(m => m.UserGroup.AdditionalInformations)
            @Html.Form().Static(m => m.UserGroup.BalanceOverdraftLimit)
        </div>
    </div>
    
    
    <div class="container-content--full">
        @(
                Html.DisplayFor().GridFor(m => m.Members, true)
                        .ColumnFor(m => m.User.DisplayName, Resources_Domain.label_Com_QueoFlow_Peanuts_Net_Core_Domain_Users_User)
                        .ColumnFor(m => m.Account.Balance, Resources_Domain.label_Com_QueoFlow_Peanuts_Net_Core_Domain_Accounting_Account_Balance).DisplayFormat("{0:C}")
                        .ColumnFor(m => m.CreatedAt, "Mitglied seit")
                        .ColumnFor(m => m.MembershipType, Resources_Domain.label_Com_QueoFlow_Peanuts_Net_Core_Domain_Users_UserGroupMembership_MembershipType)
        )
    </div>
</div>