@using Com.QueoFlow.Peanuts.Net.Web
@using Com.QueoFlow.Peanuts.Net.Web.Helper
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="version" content="@VersionHelper.GetCurrentApplicationVersion()"/>
    @if (!string.IsNullOrWhiteSpace(ViewBag.Title)) {
        <title>peanuts.net | @ViewBag.Title</title>
    } else {
        <title>peanuts.net</title>
    }
    <meta name="description" content="peanuts.net">
    @Html.Partial("FavIcons")
    <link href="@Url.Content("~/Content/dist/stylesheets/app.min.css")" rel="stylesheet">
    <script src="@Url.Content("~/Content/dist/javascripts/app.min.js")" defer></script>
    @Html.Partial("JiraCollector")
</head>
<body id="@Html.GetPageId(this)">
<header class="header">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid container-lg">
            <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })" title="Home">
                <img src="@Url.Content("~/Content/dist/images/logo.png")" alt="queo Logo">
            </a>
            @if (Html.Security().IsAuthenticated()) {
                @Html.Partial("_LoginPartial")
            }
        </div>
    </nav>
</header>
<div class="container-fluid container-lg">
    @if (Html.Security().IsAuthenticated()) {
        <nav class="sidebar">
            <ul class="nav sidebar-nav">
                @Html.Action("MenuContentPartial", "Home", new { area = "" })
                <li class="sidebar-nav-item">
                    <a class="link icon-envelope-o" href="mailto:d.wuttig@queo-group.com?subject=Feedback"></a>
                </li>
            </ul>
        </nav>
    }
    @{
        string mainContainerClass = "";
        if (!IsSectionDefined("toolbar")) {
            mainContainerClass = "no-toolbar";
        }
    }

    <main class="@mainContainerClass">
        @if (IsSectionDefined("toolbar")) {
            <nav class="content-toolbar">
                <div class="content-toolbar__wrap">
                    @RenderSection("toolbar", false)
                </div>
            </nav>
        }
        <div class="container-content">
            @if (!(string.IsNullOrWhiteSpace(ViewBag.Title) && string.IsNullOrWhiteSpace(ViewBag.Subtitle))) {
                <div class="container-content__header">
                    <h1>
                        @if (!string.IsNullOrWhiteSpace(ViewBag.Subtitle)) {
                            <span class="strong">@(ViewBag.Title):</span>
                            <span>@ViewBag.Subtitle</span>
                        } else {
                            <span class="strong">@(ViewBag.Title)</span>
                        }
                    </h1>
                    @if (IsSectionDefined("tabs")) {
                        @RenderSection("tabs", false)
                    }
                </div>
            } else {
                if (IsSectionDefined("tabs")) {
                    <div class="container-content__header">
                        @RenderSection("tabs", false)
                    </div>
                }
            }
            @RenderBody()
        </div>
    </main>
</div>

@RenderSection("scripts", false)
</body>
</html>