@using System.Collections
@using Com.QueoFlow.Peanuts.Net.Core.Domain.Accounting
@using Com.QueoFlow.Peanuts.Net.Core.Domain.Transactions
@using Com.QueoFlow.Peanuts.Net.Core.Domain.Users
@using Com.QueoFlow.Peanuts.Net.Core.Infrastructure.Utils
@using Com.QueoFlow.Peanuts.Net.Web.Helper
@using Com.QueoFlow.Peanuts.Net.Web.Resources
@model Com.QueoFlow.Peanuts.Net.Web.Models.UserGroup.PayMoneyViewModel

@{
    ViewBag.Title = "Geld bezahlen";
}

@section toolbar{
    <a class="btn btn-default" href="@Url.Action("Index", "Payment")">
        <span class="icon-arrow-left"></span>
        Zurück
</a>
    
    <button type="submit" form="@(Html.GenerateId<Payment>(IdForElement.Form, IdForAction.Create))" class="btn btn-primary pull-right">
        Bezahlen
    </button>
}


@using (Html.BeginForm("PayMoney", "Payment", FormMethod.Post, new { id = Html.GenerateId<Payment>(IdForElement.Form, IdForAction.Create), @class = "form form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, Resources_Web.hint_ValidateYourInput, new { @class = "form-validation-summary" }, "p")

    @Html.Form().Select(m => m.PayMoneyCommand.Recipient, Objects.GetPropertyName<UserGroupMembership>(m => m.BusinessId), Objects.GetPropertyName<UserGroupMembership>(m => m.DisplayName), (IList)Model.GroupMembers, "Nutzer wählen ...", "An")
    @Html.Form().Number(m => m.PayMoneyCommand.PaymentDto.Amount)
    @Html.Form().TextBox(m => m.PayMoneyCommand.PaymentDto.Text)
    @Html.Form().Select(m => m.PayMoneyCommand.PaymentDto.PaymentType, null)
}

