@using Com.QueoFlow.Peanuts.Net.Web.Helper
@using Com.QueoFlow.Peanuts.Net.Web.Resources

@model Com.QueoFlow.Peanuts.Net.Web.Models.Manage.ChangePasswordViewModel
@{
    ViewBag.Title = "Kennwort ändern";
}

@using (Html.BeginForm("ChangePassword", "UserProfile", FormMethod.Post, new { @class = "form form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(false, "Bitte überprüfen Sie folgende Eingaben:", new {
    @class = "form-validation-summary"
}, "p")


    <div class="col-xs-12">
        @Html.Form().Password(m => m.OldPassword)
        @Html.Form().Password(m => m.NewPassword)
        @Html.Form().PasswordStrength(m => m.NewPassword)
        @Html.Form().Password(m => m.ConfirmPassword)
    </div>
    
    <div class="col-xs-12">
        <div class="form-group">
            <hr />
            <button type="submit" class="btn btn-primary">
                @ViewBag.Title
            </button>
            <a href="@Url.Action("Index", "UserProfile")" class="btn btn-default">
                <span>@Resources_Web.btn_Cancel_Update</span>
            </a>
        </div>
    </div>
}
